# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
# load csv
weather_file = "../WeatherPy/Figures/weather_data.csv"
weather_df = pd.read_csv(weather_file)
type(weather_df)
weather_df

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,0,Bredasdorp,ZA,1622503948,-34.5322,20.0403,54.72,88,7,7.43
1,1,Puerto Ayora,EC,1622503948,-0.7393,-90.3518,74.55,90,36,11.01
2,2,Hobart,AU,1622503948,-42.8794,147.3294,55.22,68,0,3.00
3,3,Albany,US,1622503949,42.6001,-73.9662,65.01,73,48,4.45
4,4,Severo-Kuril'sk,RU,1622503949,50.6789,156.1250,37.42,98,100,20.54
...,...,...,...,...,...,...,...,...,...,...
555,555,Dhrāngadhra,IN,1622504094,22.9833,71.4667,82.44,71,1,11.03
556,556,Vestmannaeyjar,IS,1622504094,63.4427,-20.2734,45.46,84,99,17.81
557,557,Pouébo,NC,1622504094,-20.4000,164.5667,73.76,47,8,5.50
558,558,Toora-Khem,RU,1622504095,52.4675,96.1100,38.95,64,11,2.64
559,559,Stabat,ID,1622504095,3.7610,98.4513,75.40,93,100,2.98

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
# Configure gmaps with API key
gmaps.configure(api_key=g_key)

In [4]:
# Use the Lat and Lng as locations 
locations = weather_df[["Latitude", "Longitude"]].astype(float)

# Use humidity as the weight
humidity_rate = weather_df["Humidity"].astype(float)

# Add heatlayer to map
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

plt.savefig("vacationheatmap.png")
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
#Narrow down the DataFrame to fit weather conditions.

#A max temperature lower than 80 degrees but higher than 70.
max_temp = weather_df.loc[weather_df["Max Temperature"]<80,:]
perfect_temp = max_temp.loc[weather_df["Max Temperature"]>70,:]
perfect_temp.head()

#Wind speed less than 10 mph.
low_wind_perfect_temp = perfect_temp.loc[perfect_temp["Wind Speed"]<10,:]
low_wind_perfect_temp

#Zero cloudiness.
cloudless = low_wind_perfect_temp.loc[low_wind_perfect_temp["Cloudiness"]==0,:]
cloudless.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
277,277,Kiryat Gat,IL,1622504021,31.6100,34.7642,73.81,100,0,2.48
299,299,Vila Velha,BR,1622504026,-20.3297,-40.2925,76.95,81,0,7.00
300,300,Tonekābon,IR,1622504027,36.8163,50.8738,71.55,73,0,0.83
338,338,Bereket,TM,1622504036,39.2446,55.5154,74.41,57,0,8.52
347,347,Cap Malheureux,MU,1622504039,-19.9842,57.6142,70.47,79,0,5.01

In [6]:
#Store into variable named hotel_df to remove null values
hotel_df = pd.DataFrame()
new_df = pd.DataFrame(cloudless)
hotel_df['City'] = new_df['City']
hotel_df['Country'] = new_df['Country']
hotel_df['Latitude'] = new_df['Latitude']
hotel_df['Longitude'] = new_df['Longitude']
hotel_df['Humidity'] = new_df['Humidity']
hotel_df['Hotel Name'] = ""
hotel_df.head()

               City Country  Latitude  Longitude  Humidity Hotel Name
277      Kiryat Gat      IL   31.6100    34.7642       100
299      Vila Velha      BR  -20.3297   -40.2925        81
300       Tonekābon      IR   36.8163    50.8738        73
338         Bereket      TM   39.2446    55.5154        57
347  Cap Malheureux      MU  -19.9842    57.6142        79

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [7]:
# use iterrows to iterate through pandas dataframe

#import requests
#url = (f"https://maps.googleapis.com/maps/api/place/textsearch/json?location=31.6100,34.7642&radius=5000&type=hotel&key={g_key}")
#payload={}
#headers = {}
#response = requests.request("GET", url, headers=headers, data=payload)
#print(response.text)

for index, row in hotel_df.iterrows():

    # get hotel from df
    lat = row['Latitude']
    long = row['Longitude']
    city = row['City']
    country = row['Country']

    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {city}, {country}.",{lat},{long})
    #query_url = f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={lat},{long}&radius=5000&type=hotel&key={g_key}"
    #print(query_url)
    response = requests.get(f"https://maps.googleapis.com/maps/api/place/textsearch/json?location={lat},{long}&radius=5000&type=hotel&key={g_key}").json()
    
    #import requests
    #url = "https://maps.googleapis.com/maps/api/place/textsearch/json?location=31.6100,34.7642&radius=5000&type=hotel&key=AIzaSyBjSEP_1un6wotpw94JiGtzK0UiWh9b-1k"
    #payload={}
    #headers = {}
    #response = requests.request("GET", url, headers=headers, data=payload)

    #print(response.text)
    # extract results
    #results = response['results']
    #print(response)
    #print(results)
    
    try:
        hotel_name = response['results'][0]['name']
        print(f"Closest hotel to {city} at {lat} , {long} is {hotel_name}.")
        
        hotel_df.loc[index, "Hotel Name"] = hotel_name
        
    except (KeyError, IndexError):
        print("Missing result...skip")
    finally:
        print("----------")
    
print("Finished")

Retrieving Results for Index 277: Kiryat Gat, IL. {31.61} {34.7642}
Closest hotel to Kiryat Gat at 31.61 , 34.7642 is Kiryat Gat.
----------
Retrieving Results for Index 299: Vila Velha, BR. {-20.3297} {-40.2925}
Closest hotel to Vila Velha at -20.3297 , -40.2925 is Vila Velha.
----------
Retrieving Results for Index 300: Tonekābon, IR. {36.8163} {50.8738}
Closest hotel to Tonekābon at 36.8163 , 50.8738 is Tonekabon.
----------
Retrieving Results for Index 338: Bereket, TM. {39.2446} {55.5154}
Closest hotel to Bereket at 39.2446 , 55.5154 is Bereket.
----------
Retrieving Results for Index 347: Cap Malheureux, MU. {-19.9842} {57.6142}
Closest hotel to Cap Malheureux at -19.9842 , 57.6142 is Grand Baie.
----------
Retrieving Results for Index 491: Changji, CN. {44.0167} {87.3167}
Closest hotel to Changji at 44.0167 , 87.3167 is Ürümqi.
----------
Retrieving Results for Index 510: Vilhena, BR. {-12.7406} {-60.1458}
Closest hotel to Vilhena at -12.7406 , -60.1458 is Vilhena.
----------
Finished

In [8]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]
hotel_df.head()

               City Country  Latitude  Longitude  Humidity  Hotel Name
277      Kiryat Gat      IL   31.6100    34.7642       100  Kiryat Gat
299      Vila Velha      BR  -20.3297   -40.2925        81  Vila Velha
300       Tonekābon      IR   36.8163    50.8738        73   Tonekabon
338         Bereket      TM   39.2446    55.5154        57     Bereket
347  Cap Malheureux      MU  -19.9842    57.6142        79  Grand Baie

In [9]:
# Use the Lat and Lng as locations 
locations = hotel_df[["Latitude", "Longitude"]].astype(float)

# Use humidity as the weight
humidity_rate = hotel_df["Humidity"].astype(float)

# Add marker layer ontop of heat map
fig = gmaps.figure(center=(48.0, 0.0), zoom_level=2)

heat_layer = gmaps.heatmap_layer(locations, weights=humidity_rate, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

marker_layer = gmaps.marker_layer(locations, hover_text='', label='', info_box_content=hotel_info)



fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
plt.savefig("vacationheatmapwithhotels.png")

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))